*.bak
*.tmp
*.user
*.hex
*.map
*.sct
*.axf
*.htm
*.crf
*.dep
*.d
*.o
*.obj
*.pbi
*.pbd
*.plg
*.tra
*.iex
*.lnp
*.m51
*.m66
*.sbr
*.tui
*.vhd
*.lst
*.i
*.s
*.scr
*.o.0
*.so
/settings/*
/Objects/*
/Listings/*
*.uvguix.*
/PRJ/Objects/
/PRJ/Listings/